.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Styles for the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s ease;
}

/* Styles for the slider button */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform 0.4s ease;
}

/* Styles for the checked state of the switch */
input:checked + .slider {
  background-color: #2196F3;
}

/* Styles for the focused state of the switch */
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* Styles for the checked state of the slider button */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

/* Styles for the rounded slider button */
.slider.round:before {
  border-radius: 50%;
}

/* Styles for the dark mode */
/* .dark-mode {
  background-color: #333;
  color: #fff;
} */

/* Styles for the font size and color of the link */
a.font-size {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

/* Styles for the navigation bar */
.navbar-nav {
  justify-content: center;
  max-width: 0;
  gap: 50px;
}

#Hyui {
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #191d28;
}

/* Styles for specific elements by ID or class */
#color {
  background-color: #191d28;
}

#color2 {
  color: #3dc6c1;
  font-size: 30px;
}

#color22 {
  font-family: Arial, Helvetica, sans-serif;
  color: #3dc6c1;
}

#color3 {
  color: rgb(139, 135, 135);
}

#color4 {
  font-family: monospace;
  font-size: 50px;
  color: rgb(255, 252, 252);
  font-weight: bolder;
}

.vh {
  word-spacing: -20px;
}

.container2 {
  background-color: #191d28;
  font-family: monospace;
}

#box2 {
  justify-content: space-around;
}

#color-1 {
  color: rgb(139, 135, 135);
  background-color: #191d28;
  border: 1px;
  font-size: 1.5em;
}

#color-6 {
  background-color: #2e3241;
  border: 1px solid rgb(9, 9, 9);
}

#color-8 {
  color: rgb(255, 255, 255);
  background-color: #4343465c;
  border: 0.2px;
  border-radius: 20px;
  font-size: 1.5em;
}

/* Styles for the unordered list */
ul {
  padding-top: 19px;
}

/* Styles for the table container */
.table-container {
  display: grid;
  font-family: monospace;
  font-weight: bolder;
}

/* Styles for the table */
table {
  font-size: 20px;
  border-collapse: collapse;
  text-align: left;
}

/* Styles for the table header */
th {
  padding: 1rem 5rem;
  font-size: 1.4rem;
  font-weight: 900;
}

/* Styles for the table data cells */
td {
  text-align: right;
  padding: 0.7rem 5rem;
}

/* Styles for the table body */
tbody {
  color: rgba(255, 255, 255, 0.737);
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  font-family: 'Oswald', sans-serif;
}

/* Styles for the table header */
thead {
  color: #565962;
  font-family: 'Oswald', sans-serif;
}

/* Styles for specific cells in the table */
td:nth-child(5) {
  color: rgb(168, 38, 38);
}

td:nth-child(6) {
  color: #3dc6c1;
}

#gg {
  color: #ffffff;
  background-color: #3dc6c1;
  border: 1px;
  padding: 2px 25px;
}

/* Styles for the loader */
.loader {
  margin: 30px;
  width: 40px;
  padding: 7px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: #ffffff;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 6s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}